
<section id="banner" data-video="/assets/images/banner">
    <div class="inner">
        <h1> <img src="/assets/images/antejoBlanco.png" alt="" class="logo-img"></h1>
        <a [ngx-scroll-to]="'#about'" class="button alt scrolly">Acerca de nosotros</a>
    </div>
</section>

<!-- One -->
<section id="about" class="wrapper style2">
    <div class="inner">
        <div>
            <div class="box">
                <div class="image fit">
                    <div class="max-img">

                    </div>
                </div>
                <div class="content" >
                    <header class="align-center">
                        <h2>Acerca de nosotros</h2>
                        <p>maecenas feugiat ex purus, quis volutpat lacus placerat</p>
                    </header>
                    <hr />
                    <p> Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada. Praesent
                        in sem ex. Morbi mattis sapien pretium tellus venenatis, at egestas urna ornare.</p>
                    <p>Vivamus fermentum nibh vel pharetra blandit. Cras a purus urna. Sed et libero ex. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse id hendrerit felis. Nulla viverra tempor dui at
                        congue. Pellentesque quis nulla ornare, congue nisi id, finibus nulla. Aliquam sit amet hendrerit purus. Donec libero massa, posuere fermentum eros sit amet, maximus fringilla augue. Maecenas at rhoncus lorem. Vivamus ultricies
                        consequat est, efficitur convallis libero. Vivamus rutrum semper mauris, vitae consequat eros tempor ac. Pellentesque et ornare sapien</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Two -->
<section id="misionvision" class="wrapper style3">
    <div class="inner">
        <div id="flexgrid">
            <div id="misionvision">
                <header>
                    <h3>Mision</h3>
                </header>
                <p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu</p>
                <ul class="actions">
                    <li><a [routerLink]="['/mision']" routerLinkActive="active" class="button alt">Learn More</a></li>
                </ul>
            </div>
            <div>
                <header>
                    <h3>Vision</h3>
                </header>
                <p>Ut convallis, sem sit amet interdum consectetuer, odio augue aliquam leo, nec dapibus tortor nibh sed </p>
                <ul class="actions">
                    <li><a [routerLink]="['/vision']" routerLinkActive="active" class="button alt">Learn More</a></li>
                </ul>
            </div>
            <div>
                <header>
                    <h3>Sed Magna</h3>
                </header>
                <p>Suspendisse mauris. Fusce accumsan mollis eros. Pellentesque a diam sit amet mi ullamcorper vehicula.</p>
                <ul class="actions">
                    <li><a class="button alt">Learn More</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Three -->
<section id="three" class="wrapper style2">
    <div class="inner">
        <div class="grid-style">

            <div>
                <div class="box">
                    <div class="image fit">
                        <img src="assets/images/pic02.jpg" alt="" />
                    </div>
                    <div class="content">
                        <header class="align-center">
                            <h2>Lorem ipsum dolor</h2>
                            <p>maecenas feugiat ex purus, quis volutpat lacus placerat</p>
                        </header>
                        <hr />
                        <p> Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada. Praesent
                            in sem ex. Morbi mattis sapien pretium tellus venenatis, at egestas urna ornare.</p>
                    </div>
                </div>
            </div>

            <div>
                <div class="box">
                    <div class="image fit">
                        <img src="/assets/images/pic03.jpg" alt="" />
                    </div>
                    <div class="content">
                        <header class="align-center">
                            <h2>Vestibulum sit amet</h2>
                            <p>mattis sapien pretium tellus venenatis</p>
                        </header>
                        <hr />
                        <p> Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada. Praesent
                            in sem ex. Morbi mattis sapien pretium tellus venenatis, at egestas urna ornare.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Four -->
<section id="four" class="wrapper style3">
    <div class="inner">

        <header class="align-center">
            <h2>Morbi interdum mollis sapien</h2>
            <p>Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada. Praesent in sem
                ex. Morbi mattis sapien pretium tellus venenatis, at egestas urna ornare.</p>
        </header>

    </div>
</section>